# Don't commit dependencies
node_modules/
dist/

# Angular cache
.angular/

# Environment variables
.env

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Ignore any .examples folders used for sample files or tooling
.examples/
